@use '../../mixin.scss' as *;

#project-selection_section{
  height: auto;

  .animated-header_title{
    margin: 0;
  }
}

.project-selection_cards-list{ 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

  .project-selection_cards_card-wrapper{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-midnight);
    cursor: pointer;
  }

  @include respond(sm){
    row-gap: 1rem;
  }

  
}


