@use '../../mixin.scss' as *;

#project-selection_section{
  height: auto;
}

.project-selection_cards-list{ 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;

  .project-selection_cards_card-wrapper{
    width: 100%;
    border-radius: var(--standard-border-radius);
    overflow: hidden;
    background-color: var(--color-midnight);
  }

  
}


