.copy-button{

  cursor: pointer;
  width: 100%;

  &_context{

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
  }

  img{
    flex: 0;
    height: 20px;
    height: 20px;
  }
}
